.animate {
  will-change: transform, opacity, filter;
  @keyframes puff {
    0% {
      transform: scale(10);
      filter: blur(10px);
      opacity: 0;
    }
    90% {
      transform: scale(0.9);
      filter: blur(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      filter: blur(0);
      opacity: 1;
    }
  }
}
